/* Typography */
html {
  font-size: 62.5%;
}
body {
  line-height: 1.5;
  font-size: 1.8rem;
  font-family: var(--ff-chivo-fonts);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --background-color: #2a2438;
  --primary-color: #dbd8e3;
  --secondary-color: #352f44;
  --accent-color: #5c5470;
  --color-white: #fff;

  --ff-chivo-fonts: "Chivo", sans-serif;
}
h1 {
  font-size: 3rem;
  margin: 0;
}
h2 {
  font-size: 2.5rem;
  margin: 0;
}
h3 {
  font-size: 2rem;
  margin: 0;
}
p {
  font-size: 1.8rem;
  margin: 0;
}

/* Links */
ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: var(--primary-color);
}
a:hover {
  color: var(--color-white);
}
/* Images */
img {
  width: 100%;
}
/* Section One */
.section-one {
  position: relative;
  background-image: url(/Images/boat.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  height: 50vh;
}
/* Navigation Bar */
.navigation--bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  border: 1px solid white;
  width: 100vw;
}
.hamburger {
  color: var(--primary-color);
  padding: 1rem;
  text-align: center;
  cursor: pointer;
}
.circle {
  color: var(--primary-color);
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
}
.is-hidden {
  display: none;
}
.nav-list {
  text-align: center;
}
