/* Typography */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  line-height: 1.5;
  font-size: 1.8rem;
  font-family: var(--ff-chivo-fonts);
  overflow-x: hidden;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --background-color: #2a2438;
  --primary-color: #dbd8e3;
  --secondary-color: #352f44;
  --accent-color: #5c5470;
  --color-white: #fff;

  --ff-chivo-fonts: "Chivo", sans-serif;
}
h1 {
  font-size: 3rem;
  margin: 0;
  padding: 0;
}
h2 {
  font-size: 2.5rem;
  margin: 0;
}
h3 {
  font-size: 2rem;
  margin: 0;
}
p {
  font-size: 1.8rem;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 700px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3.8rem;
  }
  h3 {
    font-size: 3.2rem;
  }
  p {
    font-size: 3rem;
  }
}
@media screen and (min-width: 1000px) {
  h1 {
    font-size: 6rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 3.8rem;
  }
  p {
    font-size: 3.4rem;
  }
}
/* Links */
ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: var(--color-white);
}
a:hover {
  color: var(--accent-color);
}
/* Images */
img {
  width: 100%;
}

/* Navigation Bar */
.navigation--bar {
  border: 1px solid white;
  border-radius: 10px;
  width: 100%;
  height: 30vh;
  box-shadow: rgba(238, 236, 236, 0.35) 0px 15px 40px;
  position: absolute;
  left: 0%;
  margin-top: 1rem;
  transition: all 2s;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 50%;
}
.nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hidden-left {
  left: -100%;
  transition: all 2s;
}
.hamburger {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  cursor: pointer;
  padding-top: 2rem;
}
.hamburger:hover {
  color: var(--color-white);
}
.is-hidden {
  display: none;
}
.circle {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  cursor: pointer;
  padding-top: 2rem;
}
.circle:hover {
  color: var(--color-white);
}
@media screen and (min-width: 700px) {
  .hamburger,
  .circle {
    display: none;
  }
  .navigation--bar {
    border: none;
    box-shadow: none;
    left: 0;
    opacity: 80%;
    background-color: none;
    height: 5%;
    margin-top: 0;
  }
  .nav-list {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
}
/* About Me Section */
.home {
  position: relative;
  background-image: url(Images/boat.jpeg);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  height: 100vh;
}
.about-me {
  display: grid;
  grid-template-rows: 1fr;
  position: absolute;
  color: var(--color-white);
  gap: 1rem;
  transition: all 2s;
}
.about-me {
  text-align: center;
  align-items: center;
  justify-items: center;
  top: 13%;
}
.box-one {
  padding-left: 2rem;
}
.box-two {
  text-align: center;
  margin-top: 2rem;
  padding: 0 2rem;
}
.box-article {
  padding: 1rem;
}
.git {
  position: absolute;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 7rem;
}
.git--repo-box {
  width: 5rem;
  height: 5rem;
  border-radius: 10px;
  border: 1px solid var(--color-white);
  padding: 3rem 7rem;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 700px) {
  .about-me {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10rem 40rem;
    position: absolute;
    justify-items: center;
    align-items: flex-start;
    top: 25rem;
    padding: 5rem;
  }
  .box-one {
    margin: auto;
  }
  .box-two {
    margin-top: 0;
    padding: 0;
    grid-row: 2;
    grid-column: -2;
    margin: auto;
  }
  .git--repo-box {
    bottom: 10%;
    left: 40%;
  }
  .box-one,
  .box-two {
    text-align: left;
  }
  .git {
    bottom: 15rem;
  }
}
@media screen and (min-width: 1000px) {
  .about-me {
    grid-template-rows: 1fr;
  }
  .git {
    left: -36rem;
    bottom: 35rem;
  }
}
/* Break lines */
.break-line {
  width: 100vw;
  height: 1px;
  border-bottom: 1px solid var(--color-white);
}
/* Section Skills */
.skills {
  position: relative;
  background-image: url(Images/skills.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  height: 100vh;
  width: 100%;
}
.skills-heading {
  position: absolute;
  top: 5rem;
  left: 15rem;
  color: var(--color-white);
}
.skill-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 15rem;
  left: 1.7rem;
  border: 1px solid white;
  border-radius: 30px;
  width: 35rem;
  height: 42rem;
  background-color: black;
}
.rating {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.fa-star {
  color: var(--color-white);
  width: 3rem;
}
.gold {
  color: gold;
}
.fa-html5,
.fa-css3-alt,
.fa-js-square,
.fa-git {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 2rem;
}
.fa-html5 {
  color: tomato;
}
.fa-css3-alt {
  color: dodgerblue;
}
.fa-js-square {
  color: gold;
}
.fa-git {
  color: slateblue;
}
@media screen and (min-width: 700px) {
  .skills-heading {
    top: 10rem;
    left: 32rem;
    font-size: 5rem;
  }
  .skill-list {
    top: 30rem;
    left: 14rem;
  }
  .fa-star {
    width: 5rem;
  }
}
@media screen and (min-width: 1000px) {
  .skills-heading {
    top: 10rem;
    left: 65rem;
    font-size: 5rem;
  }
  .skill-list {
    top: 25rem;
    left: 47rem;
  }
  .fa-star {
    width: 5rem;
  }
}
@media screen and (min-width: 1500px) {
  .skills-heading {
    top: 10rem;
    left: 90rem;
    font-size: 5rem;
  }
  .skill-list {
    top: 25rem;
    left: 70rem;
    width: 50rem;
  }
  .fa-star {
    width: 5rem;
  }
}
/* Section projects */
.projects {
  position: relative;
  background-image: url(Images/home.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.project-heading {
  position: absolute;
  top: 4rem;
}
.project-grid {
  position: absolute;
  top: 12rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}
.project-box {
  width: 10rem;
  height: 10rem;
  border: 1px solid var(--primary-color);
  border-radius: 20px;
  transition: all 1s;
  overflow: hidden;
}
.project-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
}
.project-link:hover {
  color: var(--primary-color);
}
.project-box > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.project-heading {
  margin-bottom: 5rem;
  color: var(--color-white);
}
.project-box:hover {
  transform: scale(1.1);
}
@media screen and (min-width: 700px) {
  .project-heading {
    top: 10rem;
  }
  .project-grid {
    grid-template-columns: repeat(3, 1fr);
    top: 25rem;
  }
  .project-box {
    width: 15rem;
    height: 15rem;
  }
  .project-link {
    font-size: 2rem;
  }
}
/* Footer Section */
.footer {
  position: relative;
  background-image: url(Images/footer_image.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  height: 100vh;
  width: 100%;
}
.contact {
  position: absolute;
  top: 14rem;
  left: 5rem;
  color: var(--primary-color);
}
.footer-links {
  display: flex;
  position: absolute;
  top: 7rem;
  left: 8rem;
  color: var(--primary-color);
  cursor: pointer;
}
.footer-links > li {
  margin-right: 2rem;
}
.footer-links > li:hover {
  color: var(--color-white);
}
.form {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  bottom: 11rem;
  left: 4rem;
}
.form > input {
  margin-bottom: 1rem;
  border-radius: 20px;
  outline: none;
  border: none;
  padding: 1rem 6rem 1rem 1rem;
}
.form > textarea {
  margin-bottom: 1rem;
}
.media-links {
  position: absolute;
  bottom: 4rem;
  left: 11rem;
}
.fa-facebook,
.fa-linkedin,
.fa-github {
  color: var(--color-white);
  margin: 1rem;
  cursor: pointer;
}
.fab:hover {
  color: var(--primary-color);
}
/* Button */
.btn {
  border: none;
  outline: none;
  border-radius: 20px;
  padding: 1.5rem 5rem;
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--background-color);
  opacity: 50%;
}
.btn:hover {
  background-color: var(--color-white);
  color: var(--secondary-color);
}
@media screen and (min-width: 700px) {
  .footer-links {
    font-size: 2.5rem;
    top: 18rem;
    left: 23rem;
  }
  .contact {
    top: 39.5rem;
    left: 13rem;
  }
  .form {
    bottom: 25rem;
    left: 38rem;
  }
  .media-links {
    left: 30rem;
  }
}
@media screen and (min-width: 1000px) {
  .footer-links {
    flex-direction: column;
    font-size: 3.5rem;
    top: 35rem;
    left: 35rem;
  }
  .contact {
    top: 20rem;
    left: 75rem;
  }
  .form {
    bottom: 25rem;
    left: 75rem;
  }
  .media-links {
    left: 62rem;
  }
}
@media screen and (min-width: 1500px) {
  .footer-links {
    flex-direction: column;
    font-size: 3.5rem;
    top: 40rem;
    left: 55rem;
  }
  .contact {
    top: 22rem;
    left: 100rem;
  }
  .form {
    bottom: 25rem;
    left: 100rem;
  }
  .media-links {
    left: 85rem;
  }
}
